<main class="container page page-calendar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">NOTÍCIAS</a></li>
      <li class="breadcrumb-item active" aria-current="page">Agenda</li>
    </ol>
  </nav>
  <section class="calendar-list">
    {{>components/calendar-list-item}}
    {{>components/calendar-list-item}}
    {{>components/calendar-list-item}}
    {{>components/calendar-list-item}}
    {{>components/calendar-list-item}}
  </section>
</main>
