<section class="category-list-item row">
  <div class="category-list-item-lead col-12 col-lg">
    <h3 class="category-list-item-title">
      Visita do Primeiro Ministro a Pema
    </h3>
    <p class="category-list-item-description">
      Ministro visita Pemba nessa quinta para inauguração do Mercado do Peixe
    </p>
    <p>
      Quando: 15/nov - quinta-feira à 19h
      <br />
      Local: Mercado do Peixe - R. Matias Aguayo, 45 - Pemba
    </p>
    <p></p>
    <p>Contato: Maria Cristina Frias - 11 95540 4567</p>
  </div>
</section>
