<div class="card card-big">
  <img class="card-img-top" src="assets/img/card-image-01.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
  </div>
</div>