<div class="card">
  <div class="card-img">
      <img class="card-img-top" src="assets/img/card-image-02.png" alt="Card image cap">
  </div>
  <div class="card-body">
    <h5 class="card-title">Phasellus placerat a sapien eget ornare</h5>
    <p class="card-text">Some quick example text to build on the card title and make</p>
  </div>
</div>