<section class="category-list-item row">
    <div class="category-list-item-header col-12 col-lg-4">
        <figure class="category-list-item-image">
            <img
                class="category-list-item-img"
                src="assets/img/card-image-01.jpg"
                alt="Photo by Hunter Brumels on Unsplash"
            />
        </figure>
    </div>
    <div class="category-list-item-lead col-12 col-lg">
        <div class="category-list-item-tags container-fluid">
            <ul class="category-list-item-tags-list row">
                <li class="category-list-item-tags-list-item col">Tag</li>
                <li class="category-list-item-tags-list-item col">Tag</li>
                <li class="category-list-item-tags-list-item col">Tag</li>
            </ul>
        </div>
        <h3 class="category-list-item-title">
            Orci adipiscing id et tristique nostra tellus posuere quis Orci
            adipi scing id et tristique nostra
        </h3>
        <p class="category-list-item-description">
            Hac aliquet urna at at egestas commodo mauris ornare a sed
            parturient in aliquam justo senectus conubia nec a a ullamcorper
            curabitur consectetur adipiscing praesent dui. Placerat
        </p>
        <p>
            <a class="category-list-item-link" href="single.html">Leia mais</a>
        </p>
    </div>
</section>
