<main class="container page page-category">
    <section class="category-list">
        {{>components/category-list-item}}
        {{>components/category-list-item}}
        {{>components/category-list-item}}
        {{>components/category-list-item}}
        {{>components/category-list-item}}
        <div class="category-list-nav">
            <div class="category-list-nav-item nav-next">&#8592; Mais antigos</div>
            <div class="category-list-nav-item nav-previous">Mais recentes &#8594;</div>
        </div>

    </section>
</main>
