<main class="container page page-category">
    <section class="category-list">
        <section class="category-list-item row">
            <div class="category-list-item-header col-4">
                <img class="category-list-item-img" src="assets/img/card-image-01.jpg"
                    alt="Photo by Hunter Brumels on Unsplash">
            </div>
            <div class="category-list-item-lead col">
                <div class="category-list-item-tags">
                    <ul>
                        <li>Tag</li>
                        <li>Tag</li>
                        <li>Tag</li>
                    </ul>
                </div>
                <h3 class="category-list-item-title">Orci adipiscing id et tristique nostra tellus posuere quis
                    Orci adipi scing id et tristique
                    nostra
                </h3>
                <p class="category-list-item-description">
                    Hac aliquet urna at at egestas commodo mauris ornare a sed parturient in aliquam justo
                    senectus
                    conubia nec a a ullamcorper curabitur consectetur adipiscing praesent dui. Placerat
                    penatibus b
                    Hac aliquet urna at at egestas commodo mauris ornare a sed parturient in aliquam justo
                    senectus
                    conubia nec a a ullamcorper curabitur consectetur adipiscing praesent dui. Placerat
                    penatibus b
                </p>
                <p>
                    <a class="category-list-item-link" href="single.html">Leia mais</a>
                </p>
            </div>
        </section>
    </section>
</main>
