<main class="container page page-contact">

    {{> components/breadcrumb }}

    <article class="page-article">
        <header class="page-header">
            <h1 class="page-title">Fale Conosco</h1>
            <p class="page-opening">Hac aliquet urna at at egestas commodo mauris ornare a sed parturient in aliquam
                justo senectus conubia nec a a ullamcorper curabitur consectetur adipiscing praesent dui. Placerat </p>
        </header>
        <section class="page-content">
            <form>
                <div class="row  first_row">
                    <div class="col-sm-12  single">
                        <div class="form-group">
                            <label class="control-label">Nome <span aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                            <div class="">
                                <input required="" type="text" class="form-control" value=""> </div>
                            </div>
                        <div class="form-group">
                            <label class="control-label">Email <span aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                            <div class="">
                                <input required="" type="email" class=" form-control" value="" data-type="email" aria-required="true"> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mensagem <span aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                            <div class="">
                                <textarea value="" class="form-control" rows="7" required="required"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  last_row">
                    <div class="col-sm-12  single">
                        <div class="form-group">
                            <div class="">
                                <input class="btn btn-primary" type="submit" value="Enviar">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="contact-info-map page-content">
                <h2>Onde Estamos</h2>
                <p>Av Emília Daússe 591, D/C - Maputo - Moçambique - C.P. 2290 </p>
                <p>Tel. +258 21 300 571</p>
                <p>Cel. +258 82 302 68 20</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15504864.67824454!2d26.773468709894715!3d-18.421622583000755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18d4aceae6fd4ac5%3A0x12bbbfb9ae16a115!2sMozambique!5e0!3m2!1sen!2sca!4v1562103908817!5m2!1sen!2sca" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </section>

    </article>
    
</main>
