<main class="container page page-contact">

    {{> components/breadcrumb }}

    <article class="page-article">
        <header class="page-header">
            <h1 class="page-title">Fale Conosco</h1>
            <p class="page-opening">Hac aliquet urna at at egestas commodo mauris ornare a sed parturient in aliquam
                justo senectus conubia nec a a ullamcorper curabitur consectetur adipiscing praesent dui. Placerat </p>
        </header>
        <section class="page-content">
            <form>
                <div class="row  first_row">
                    <div class="col-sm-12  single">
                        <div class="form-group">
                            <label class="control-label">Nome <span aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                            <div class="">
                                <input required="" type="text" class="form-control" value=""> </div>
                            </div>
                        <div class="form-group">
                            <label class="control-label">Email <span aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                            <div class="">
                                <input required="" type="email" class=" form-control" value="" data-type="email" aria-required="true"> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mensagem <span aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                            <div class="">
                                <textarea value="" class="form-control" rows="7" required="required"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  last_row">
                    <div class="col-sm-12  single">
                        <div class="form-group">
                            <div class="">
                                <input class="btn btn-primary" type="submit" value="Enviar">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </article>
</main>
