<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg">
                <div class="page-footer-list-container">
                    <h5 class="page-footer-list-title">
                        <a href="#" class="page-footer-list-title-link">Institucional</a>
                    </h5>
                    <ul class="page-footer-list">
                        <li><a href="#" class="page-footer-list-link">Quem somos</a></li>
                        <li><a href="#" class="page-footer-list-link">Visão</a></li>
                        <li><a href="#" class="page-footer-list-link">Valores</a></li>
                        <li><a href="#" class="page-footer-list-link">Missão</a></li>
                        <li><a href="#" class="page-footer-list-link">Estrutura</a></li>
                        <li><a href="#" class="page-footer-list-link">Equipe e Conselho</a></li>
                    </ul>
                </div>

                <div class="page-footer-list-container">
                    <h5 class="page-footer-list-title">
                        <a href="#" class="page-footer-list-title-link">Contato</a>
                    </h5>
                    <ul class="page-footer-list">
                        <li><a href="#" class="page-footer-list-link">Fale Conosco</a></li>
                        <li><a href="#" class="page-footer-list-link">Imprensa</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-12 col-lg">
                <div class="page-footer-list-container">
                    <h5 class="page-footer-list-title">
                        <a href="#" class="page-footer-list-title-link">Notícias</a>
                    </h5>
                    <ul class="page-footer-list">
                        <li><a href="#" class="page-footer-list-link">Comunicados</a></li>
                        <li><a href="#" class="page-footer-list-link">Agenda</a></li>
                        <li><a href="#" class="page-footer-list-link">Galeria de Fotos</a></li>
                        <li><a href="#" class="page-footer-list-link">Boletim Informativo</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg">
                <div class="page-footer-list-container">
                    <h5 class="page-footer-list-title">
                        <a href="#" class="page-footer-list-title-link">Projetos</a>
                    </h5>
                    <ul class="page-footer-list">
                        <li><a href="#" class="page-footer-list-link">Em Andamento</a></li>
                        <li><a href="#" class="page-footer-list-link">Concluídos</a></li>
                        <li><a href="#" class="page-footer-list-link">Acesso à Crédito</a></li>
                        <li><a href="#" class="page-footer-list-link">Pesca Artesanal</a></li>
                        <li><a href="#" class="page-footer-list-link">Semi Industrial</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg">
                <div class="page-footer-list-container">
                    <h5 class="page-footer-list-title">
                        <a href="#" class="page-footer-list-title-link">Transparência</a>
                    </h5>
                    <ul class="page-footer-list">
                        <li><a href="#" class="page-footer-list-link">Auditoria</a></li>
                        <li><a href="#" class="page-footer-list-link">Relatórios Anuais</a></li>
                    </ul>
                </div>

                <div class="page-footer-list-container">
                    <h5 class="page-footer-list-title">
                        <a href="#" class="page-footer-list-title-link">Trabalhe Conosco</a>
                    </h5>
                    <ul class="page-footer-list">
                        <li><a href="#" class="page-footer-list-link">Contratações</a></li>
                        <li><a href="#" class="page-footer-list-link">Compras Aquisições</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg">
                <div class="page-footer-list-container page-footer-social d-flex">
                    <div class="page-footer-social-item page-footer-social-item-facebook"><a href="#">Facebook</a></div>
                    <div class="page-footer-social-item page-footer-social-item-twitter"><a href="#">Twitter</a></div>
                </div>

                <div class="page-footer-list-container">
                    Newsletter
                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>