<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg">
                <ul id="menu-footer-1" class="menu">
                    <li class="menu-item">
                        <a href="institutional.html">Institucional</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="institutional.html#quem-somos">Quem Somos</a></li>
                            <li class="menu-item"><a href="institutional.html#visao">Visão</a></li>
                            <li class="menu-item"><a href="institutional.html#valores">Valores</a></li>
                            <li class="menu-item"><a href="institutional.html#missao">Missão</a></li>
                            <li class="menu-item"><a href="institutional.html#estrutura">Estrutura</a></li>
                            <li class="menu-item"><a href="institutional.html#equipe">Equipe e Conselho</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="single.html">Contato</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="contact.html">Fale Conosco</a></li>
                            <li class="menu-item"><a href="newsroom.html">Imprensa</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg">
                <ul id="menu-footer-2" class="menu">
                    <li class="menu-item">
                        <a href="single.html">Notícias</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="category.html">Comunicados</a></li>
                            <li class="menu-item"><a href="calendar.html">Agenda</a></li>
                            <li class="menu-item"><a href="index.html">Galeria de Fotos</a></li>
                            <li class="menu-item"><a href="category.html">Boletim Informativo</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg">
                <ul id="menu-footer-3" class="menu">
                    <li class="menu-item">
                        <a href="single.html">Projetos</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="single.html">Em Andamento</a></li>
                            <li class="menu-item"><a href="single.html">Concluídos</a></li>
                            <li class="menu-item"><a href="single.html">Acesso à Crédito</a></li>
                            <li class="menu-item"><a href="single.html">Pesca Artesanal</a></li>
                            <li class="menu-item"><a href="single.html">Semi Industrial</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg">
                <ul id="menu-footer-4" class="menu">
                    <li class="menu-item">
                        <a href="single.html">Transparência</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="single.html">Auditoria</a></li>
                            <li class="menu-item"><a href="single.html">Relatórios Anuais</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="single.html">Trabalhe Conosco</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="single.html">Contratações</a></li>
                            <li class="menu-item"><a href="single.html">Compras Aquisições</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg">
                <div class="page-footer-list-container page-footer-social d-flex">
                    <div class="page-footer-social-item page-footer-social-item-facebook"><a href="http://facebook.com" target="_blank">Facebook</a></div>
                    <div class="page-footer-social-item page-footer-social-item-twitter"><a href="http://twitter.com" target="_blank">Twitter</a></div>
                </div>

                <div class="page-footer-list-container page-footer-newsletter">
                    <h5 class="page-footer-newsletter-title">Receba nosso boletim informativo</h5>
                    <form class="form-inline">
                        <input class="form-control w-100" type="search" placeholder="Digite seu e-mail" aria-label="Digite seu e-mail">
                    </form>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    {{> components/footer-address}}
</footer>
