<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg">
                <ul id="menu-footer-1" class="menu">
                    <li class="menu-item">
                        <a href="#">Institucional</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="#">Quem Somos</a></li>
                            <li class="menu-item">
                                <a href="#">Visão</a></li>
                            <li class="menu-item">
                                <a href="#">Valores</a></li>
                            <li id="menu-item-242"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242"><a
                                    href="//localhost:3002/institucional/missao/">Missão</a></li>
                            <li id="menu-item-243"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-243"><a
                                    href="//localhost:3002/institucional/estrutura/">Estrutura</a></li>
                            <li id="menu-item-244"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-244"><a
                                    href="//localhost:3002/institucional/equipe-e-conselho/">Equipe e Conselho</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-209"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-209">
                        <a href="#">Contato</a>
                        <ul class="sub-menu">
                            <li id="menu-item-210"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210"><a
                                    href="//localhost:3002/contato/fale-conosco/">Fale Conosco</a></li>
                            <li id="menu-item-246"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246"><a
                                    href="//localhost:3002/contato/imprensa/">Imprensa</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg">
                <ul id="menu-footer-2" class="menu">
                    <li id="menu-item-253"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-253">
                        <a href="//localhost:3002/conteudo/noticias/">Notícias</a>
                        <ul class="sub-menu">
                            <li id="menu-item-256"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-256"><a
                                    href="//localhost:3002/conteudo/noticias/comunicados/">Comunicados</a></li>
                            <li id="menu-item-254"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-254"><a
                                    href="//localhost:3002/conteudo/noticias/agenda/">Agenda</a></li>
                            <li id="menu-item-257"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-257"><a
                                    href="//localhost:3002/conteudo/noticias/galeria-de-fotos/">Galeria de Fotos</a>
                            </li>
                            <li id="menu-item-255"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-255"><a
                                    href="//localhost:3002/conteudo/noticias/boletim-informativo/">Boletim
                                    Informativo</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg">
                <ul id="menu-footer-3" class="menu">
                    <li id="menu-item-258"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-258">
                        <a href="//localhost:3002/conteudo/projetos/">Projetos</a>
                        <ul class="sub-menu">
                            <li id="menu-item-261"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-261"><a
                                    href="//localhost:3002/conteudo/projetos/em-andamento/">Em Andamento</a></li>
                            <li id="menu-item-260"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-260"><a
                                    href="//localhost:3002/conteudo/projetos/concluidos/">Concluídos</a></li>
                            <li id="menu-item-259"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-259"><a
                                    href="//localhost:3002/conteudo/projetos/acesso-a-credito/">Acesso à Crédito</a>
                            </li>
                            <li id="menu-item-262"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-262"><a
                                    href="//localhost:3002/conteudo/projetos/pesca-artesanal/">Pesca Artesanal</a></li>
                            <li id="menu-item-263"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-263"><a
                                    href="//localhost:3002/conteudo/projetos/semi-industrial/">Semi Industrial</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg">
                <ul id="menu-footer-4" class="menu">
                    <li id="menu-item-264"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-264">
                        <a href="//localhost:3002/transparencia/">Transparência</a>
                        <ul class="sub-menu">
                            <li id="menu-item-266"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-266"><a
                                    href="//localhost:3002/transparencia/auditoria/">Auditoria</a></li>
                            <li id="menu-item-265"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-265"><a
                                    href="//localhost:3002/transparencia/relatorios-anuais/">Relatórios Anuais</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-267"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-267">
                        <a href="//localhost:3002/trabalhe-conosco-2/">Trabalhe Conosco</a>
                        <ul class="sub-menu">
                            <li id="menu-item-269"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-269"><a
                                    href="//localhost:3002/trabalhe-conosco-2/contratacoes/">Contratações</a></li>
                            <li id="menu-item-268"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-268"><a
                                    href="//localhost:3002/trabalhe-conosco-2/compras-aquisicoes/">Compras
                                    Aquisições</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg">
                <div class="page-footer-list-container page-footer-social d-flex">
                    <div class="page-footer-social-item page-footer-social-item-facebook"><a href="http://facebook.com"
                            target="_blank">Facebook</a></div>
                    <div class="page-footer-social-item page-footer-social-item-twitter"><a href="http://twitter.com"
                            target="_blank">Twitter</a></div>
                </div>

                <div class="page-footer-list-container page-footer-newsletter">
                    <h5 class="page-footer-newsletter-title">Receba nosso boletim informativo</h5>
                    <form class="form-inline">
                        <input class="form-control w-100" type="search" placeholder="Digite seu e-mail"
                            aria-label="Digite seu e-mail">
                    </form>
                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    {{> components/footer-address}}
</footer>
