<div class="jumbotron jumbotron-fluid">
    <div class="hero-text container d-flex flex-column justify-content-center justify-content-lg-end align-items-end">
        <a href="#" class="hero-link">
            <h1 class="hero-title display-4">Hello, world!</h1>
            <p class="hero-lead lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                attention to featured content or information.</p>
        </a>
    </div>
</div>