<section class="section container home-content">
    <div class="row">
        <div class="col-12 col-lg-4 no-text">
            {{> components/card}}
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl">
                    {{> components/card}}
                </div>
                <div class="col-12 col-lg-6 col-xl">
                    {{> components/card}}
                </div>
                <div class="col-12 col-lg-6 col-xl">
                    {{> components/card}}
                </div>

            </div>
        </div>
    </div>
</section>