<main class="container page page-single page-institutional">
    <article class="page-article">
        <section class="page-content">
            {{> components/breadcrumb }}
            <h2 id="quem-somos">Quem Somos</h2>
            <p>
                A senectus praesent sociosqu sit cubilia id nisl ullamcorper
                aliquet lectus ultricies parturient mollis parturient nullam mi
                convallis a a facilisis sociosqu ad. A suspendisse parturient a
                amet ultrices consectetur feugiat suspendisse a phasellus cursus
                nibh pulvinar dapibus a sed luctus morbi a class scelerisque.
                Lacus a platea ad facilisi neque facilisi sed maecenas
                vestibulum nisl ultrices arcu adipiscing inceptos fringilla
                posuere a tempus netus per adipiscing erat a suspendisse leo sed
                parturient.
            </p>
            <h2 id="visao">Visão</h2>
            <p>
                A senectus praesent sociosqu sit cubilia id nisl ullamcorper
                aliquet lectus ultricies parturient mollis parturient nullam mi
                convallis a a facilisis sociosqu ad. A suspendisse parturient a
                amet ultrices consectetur feugiat suspendisse a phasellus cursus
                nibh pulvinar dapibus a sed luctus morbi a class scelerisque.
                Lacus a platea ad facilisi neque facilisi sed maecenas
                vestibulum nisl ultrices arcu adipiscing inceptos fringilla
                posuere a tempus netus per adipiscing erat a suspendisse leo sed
                parturient.
            </p>
            <h2 id="Valores">Valores</h2>
            <p>
                A senectus praesent sociosqu sit cubilia id nisl ullamcorper
                aliquet lectus ultricies parturient mollis parturient nullam mi
                convallis a a facilisis sociosqu ad. A suspendisse parturient a
                amet ultrices consectetur feugiat suspendisse a phasellus cursus
                nibh pulvinar dapibus a sed luctus morbi a class scelerisque.
                Lacus a platea ad facilisi neque facilisi sed maecenas
                vestibulum nisl ultrices arcu adipiscing inceptos fringilla
                posuere a tempus netus per adipiscing erat a suspendisse leo sed
                parturient.
            </p>

            <h2 id="missao">Missão</h2>
            <p>
                A senectus praesent sociosqu sit cubilia id nisl ullamcorper
                aliquet lectus ultricies parturient mollis parturient nullam mi
                convallis a a facilisis sociosqu ad. A suspendisse parturient a
                amet ultrices consectetur feugiat suspendisse a phasellus cursus
                nibh pulvinar dapibus a sed luctus morbi a class scelerisque.
                Lacus a platea ad facilisi neque facilisi sed maecenas
                vestibulum nisl ultrices arcu adipiscing inceptos fringilla
                posuere a tempus netus per adipiscing erat a suspendisse leo sed
                parturient.
            </p>

            <h2 id="estrutura">Estrutura</h2>
            <p>
                A senectus praesent sociosqu sit cubilia id nisl ullamcorper
                aliquet lectus ultricies parturient mollis parturient nullam mi
                convallis a a facilisis sociosqu ad. A suspendisse parturient a
                amet ultrices consectetur feugiat suspendisse a phasellus cursus
                nibh pulvinar dapibus a sed luctus morbi a class scelerisque.
                Lacus a platea ad facilisi neque facilisi sed maecenas
                vestibulum nisl ultrices arcu adipiscing inceptos fringilla
                posuere a tempus netus per adipiscing erat a suspendisse leo sed
                parturient.
            </p>

            <h2 id="equipe">Equipe e Conselho</h2>

            <div class="conselho-card">
                <figure>
                    <img
                        src="assets/img/conselho.png"
                        alt="Mulher carrega cesto em praia de Tofo (Foto: João da Silva)"
                    />
                </figure>
                <h4>
                    Hac aliquet urna at at egestas commodo
                </h4>
                <p>
                    Hac aliquet urna at at egestas commodo in aliquam justo
                    senectus conubia nec a a ullamcorper curabitur consectetur
                    adipiscing praesent dui.
                </p>
            </div>
            <div class="conselho-card">
                <figure>
                    <img
                        src="assets/img/conselho.png"
                        alt="Mulher carrega cesto em praia de Tofo (Foto: João da Silva)"
                    />
                </figure>
                <h4>
                    Hac aliquet urna at at egestas commodo
                </h4>
                <p>
                    Hac aliquet urna at at egestas commodo in aliquam justo
                    senectus conubia nec a a ullamcorper curabitur consectetur
                    adipiscing praesent dui.
                </p>
            </div>
            <div class="conselho-card">
                <figure>
                    <img
                        src="assets/img/conselho.png"
                        alt="Mulher carrega cesto em praia de Tofo (Foto: João da Silva)"
                    />
                </figure>
                <h4>
                    Hac aliquet urna at at egestas commodo
                </h4>
                <p>
                    Hac aliquet urna at at egestas commodo in aliquam justo
                    senectus conubia nec a a ullamcorper curabitur consectetur
                    adipiscing praesent dui.
                </p>
            </div>
        </section>
    </article>
</main>
