<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav container justify-content-between">
            <li class="nav-item">
                <a class="nav-link" href="single.html">Institucional</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="category.html">Notícias</a>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="category.html" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Projetos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="category.html">Em Andamento</a>
                        <a class="dropdown-item" href="category.html">Concluídos</a>
                        <a class="dropdown-item" href="category.html">Acesso à crédito</a>
                        <a class="dropdown-item" href="category.html">Pesca Artesanal</a>
                        <a class="dropdown-item" href="category.html">Semi-industrial</a>
                    </div>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="single.html">Trabalhe conosco</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contato</a>
            </li>
        </ul>
    </div>
</nav>
