<div class="news-list">
    <h2 class="news-list-title">Notícias</h2>
    <ul class="news-list-items">
        <li class="news-list-item"><a href="#" class="news-list-item-link"><span class="news-list-item-date">01/02/2019</span> - Phasellus placerat a sapien eget ornare Phasellus placerat a sapien eget ornare</a></li>
        <li class="news-list-item"><a href="#" class="news-list-item-link"><span class="news-list-item-date">01/02/2019</span> - Phasellus placerat a sapien eget ornare Phasellus placerat a sapien eget ornare</a></li>
        <li class="news-list-item"><a href="#" class="news-list-item-link"><span class="news-list-item-date">01/02/2019</span> - Phasellus placerat a sapien eget ornare Phasellus placerat a sapien eget ornare</a></li>
        <li class="news-list-item"><a href="#" class="news-list-item-link"><span class="news-list-item-date">01/02/2019</span> - Phasellus placerat a sapien eget ornare Phasellus placerat a sapien eget ornare</a></li>
    </ul>
    <div class="news-list-more">
        <a href="#" class="news-list-more-link">+ Mais</a>
    </div>
</div>