<header class="page-header container">
    <div class="row align-items-center">
        <div class="col-auto">
            <a class="page-header-logo" href="/"><img src="assets/img/brand-logo.png" alt=""></a>
            <h1 class="page-header-title">Ecomar</h1>
        </div>
        <div class="col">
            <p class="page-header-description d-none d-md-none d-lg-block">Fundo de Desenvolvimento das Actividades
                Económicas do Mar e Águas Interiores</p>
        </div>
        <div class="col-auto">
            <div class="navbar-search">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</header>

{{> components/navbar }}