<header class="page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="page-header-brand col-auto">
                <a class="page-header-logo" href="/"><img src="assets/img/brand-logo.png" alt=""></a>
                <h1 class="page-header-title">Ecomar</h1>
            </div>
            <div class="col d-none d-md-none d-lg-block">
                <p class="page-header-description">Fundo de Desenvolvimento das ActividadesEconómicas do Mar e Águas
                    Interiores</p>
            </div>
            <div class="page-header-search col-2 d-none d-md-none d-lg-block">
                {{> components/search-form }}
            </div>
            <div class="page-header-share col-auto d-none d-md-none d-lg-block">
                <a href="#"><i class="icon icon-facebook"></i></a>
            </div>
        </div>
    </div>
</header>

{{> components/navbar }}