<div class="photo-gallery">
    <h2 class="photo-gallery-title">Galeria de Photos</h2>
    <div class="photo-gallery-container">
        <div class="photo-gallery-container-photo">
            <img src="assets/img/photo-gallery.jpg" alt="Photo by Bryan Burgos on Unsplash">
        </div>
        <div class="photo-gallery-container-controls previous">Previous</div>
        <div class="photo-gallery-container-controls next">Next</div>
        <span class="metaslider ms-theme-cubic ms-is-small"></span>
    </div>
</div>
