include partials/head.pug
body
    div.wrapper
        header
            div.container 
                div.navbar
                    ul
                        li
                            a(href='#') Institucional
                        li
                            a(href='#') Notícias
                        li 
                            a(href='#') Projetos
                        li
                            a(href='#') Transparencia
                        li 
                            a(href='#') Trabalhe conosco
                        li
                            a(href='#') Contato
        main.main
            div.container
                h1 EcoMar
                p Fundo de Desenvolvimento das Actividades Económicas do Mar e das Águas Interiores
        footer 
            div.container
                p Created by <a href="http://marceloglacial.com">Marcelo Glacial</a>
    include partials/foot.pug