// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    color: $body-font-color;
    background: $body-background-color;
}

img {
    width: 100%;
    height: auto;
}

.icon {
    display: flex;
    width: $icon-size;
    height: $icon-size;

    &-facebook {
        background: url($icon-facebook) no-repeat center;
        background-size: contain;
    }
}
