.page {
    font-family: $page-text-family;

    &-header {
        max-width: $page-header-max-width;
        margin: 0 auto;
    }

    &-content {
        max-width: $page-content-max-width;
        margin: 0 auto;
    }

    &-article {
        padding: 0 0 2rem 0;
        color: $page-text-color;
        line-height: $page-text-line-height;

        a {
            font-weight: $page-link-weight;
            text-decoration: $page-link-decoration;
            color: $page-link-color;

            &:hover {
                color: $page-link-color-hover;
                text-decoration: $page-link-decoration-hover;
            }
        }
    }

    &-title {
        font-size: 36px;
    }


    &-timestamp {
        font-size: 12px;
        color: $grey-light;
        max-width: $page-content-max-width;
        margin: 0 auto;
    }

    .embed-responsive {
        margin-bottom: 1rem;
    }

    figure {
        figcaption {
            padding: 0.5rem 0;
            font-size: 14px;
            color: $grey-light;
        }
    }

    blockquote {
        padding: 2rem 3rem;
        position: relative;
        font-size: $page-blockquote-text-size;
        font-style: $page-blockquote-text-style;
        color: $page-blockquote-text-color;

        &:before {
            display: block;
            position: absolute;
            top: 50px;
            left: 0;
            content: open-quote;
            font-size: 100px;
            z-index: -1;
            color: #EEE;
        }
    }
}
