// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.page-footer {
    background: $page-footer-background;
    margin: $page-footer-margin;
    padding: $page-footer-padding;

    &-list {
        margin: $page-footer-list-margin;
        padding: $page-footer-list-padding;
        list-style: $page-footer-list-style;

        &-title {
            font-size: $page-footer-list-title-text-size;
            font-weight: $page-footer-list-title-text-weight;
            color: $page-footer-list-title-text-color;
            text-transform: $page-footer-list-title-text-transform;

            &-link {
                color: $page-footer-list-title-text-color;

                &:hover {
                    color: $page-footer-list-title-text-color;
                }
            }
        }

        &-link {
            font-size: $page-footer-list-link-size;
            color: $page-footer-list-link-color;

            &:hover {
                color: $page-footer-list-link-color;
            }
        }
    }

    &-social-item {
        position: relative;
        background: no-repeat center;
        background-size: contain;
        margin-left: $size-16;
        transition: all 0.2s ease-in-out;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            opacity: 0.6;
        }

        a {
            display: inline-block;
            width: 36px;
            height: 36px;
            overflow: hidden;
            text-indent: -99999px;
        }

        &-facebook {
            background-image: url('../img/social-facebook.svg');
        }

        &-twitter {
            background-image: url('../img/social-twitter.svg');
        }
    }
}