.page-header {
    &-logo img {
        max-width: $page-header-logo-width;
        margin: $page-header-logo-margin;
    }

    &-title {
        display: $page-header-title-display;
    }

    &-description {
        font-size: $page-header-description-text-size;
        margin: $page-header-description-text-margin;
        color: $page-header-description-text-color;
        text-transform: $page-header-description-text-transform;
    }
    .page-header-share {
        padding-left: 0;
    }
}