    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cc7aeb77f7180a8"></script>
    <script async src="assets/js/jquery.min.js"></script>
    <script async src="assets/js/bootstrap.min.js"></script>
    <script async src="assets/js/main.min.js"></script>
</body>
</html>